/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Back: */

opacity: 0.95;
background: #353535;

/* 创建社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* Fill-1: */

background: #9B9B9B;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #438E07;

/* Combined Shape: */

background: #438E07;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 提交成功: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* Shape: */

background: #FFCE00;

/* Shape: */

background: #FFB100;

/* Shape: */

background: #FFE454;

/* Shape: */

background: #000000;

/* Oval: */

background: #000000;

/* Shape: */

background: #E36600;

/* Shape: */

background: #000000;

/* Shape: */

background: #000000;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Line: */

border: 1px solid #979797;

/* Back: */

opacity: 0.95;
background: #353535;

/* Rectangle 3: */

background: #F8F7F6;

/* Rectangle 4: */

background: #FFFFFF;

/* 创建社团: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
letter-spacing: 0;
text-align: justify;

/* 框1: */

background: #FFFFFF;

/* 框2: */

background: #FFFFFF;

/* 框3: */

background: #FFFFFF;

/* 框4: */

background: #FFFFFF;

/* Rectangle 6: */

background: #565557;
border: 1px solid #979797;
border-radius: 100px;

/* 提 交: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;

/* 社团名称: */

opacity: 0.9;
font-family: PingFangSC-Semibold;
font-size: 13px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* 负责人电话: */

opacity: 0.9;
font-family: PingFangSC-Semibold;
font-size: 13px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* 负责人姓名: */

opacity: 0.9;
font-family: PingFangSC-Semibold;
font-size: 13px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* 联系邮箱: */

opacity: 0.9;
font-family: PingFangSC-Semibold;
font-size: 13px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* 简单描述社团（200字以内）: */

opacity: 0.9;
font-family: PingFangSC-Semibold;
font-size: 13px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* 要求写全称，如“北京大学山鹰社”: */

font-family: PingFangSC-Semibold;
font-size: 11px;
color: rgba(203, 202, 202, 0.81);
letter-spacing: 0;
text-align: center;

/* Fill-1: */

background: #9B9B9B;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #438E07;

/* Combined Shape: */

background: #438E07;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 提交键: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* Rectangle 3: */

background: #353535;
border: 1px solid #979797;
border-radius: 100px;

/* 返 回: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;

/* Back: */

opacity: 0.95;
background: #353535;

/* 邀请码: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* Fill-1: */

background: #9B9B9B;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #438E07;

/* Combined Shape: */

background: #438E07;

/* 个人: */

opacity: 0;

/* Shape: */

background: #E0E4EC;

/* Shape: */

background: #D1D7E3;

/* Shape: */

background: #7984EB;

/* Shape: */

background: #6B77E8;

/* Shape: */

background: #83C9FF;

/* Shape: */

background: #00A5FF;

/* Shape: */

background: #949FB3;

/* Shape: */

background: #949FB3;

/* Shape: */

background: #CA80DC;

/* Shape: */

background: #B757D1;

/* Shape: */

background: #FF90C2;

/* Shape: */

background: #FF73B1;

/* Shape: */

background: #8A94A8;

/* Shape: */

background: #8A94A8;

/* XXXXXXXXXXXXXXX: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
letter-spacing: 0;
text-align: center;

/* 您的邀请码为: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #4A4A4A;
letter-spacing: 0;
text-align: center;

/* 将邀请码发给朋友，ta注册时输入该邀请码: */

font-family: PingFangSC-Light;
font-size: 16px;
color: #4A4A4A;
letter-spacing: 0;

/* chat: */

opacity: 0;

/* 返回键: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Line: */

border: 1px solid #888888;

/* Back: */

opacity: 0.95;
background: #353535;

/* 联系我们: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* Rectangle 7: */

border: 1px solid #979797;
border-radius: 28px;

/* Shape: */

background: #FFCE00;

/* Shape: */

background: #FFB100;

/* Shape: */

background: #FFE454;

/* Shape: */

background: #000000;

/* Shape: */

background: #000000;

/* Shape: */

background: #FF9E00;

/* Shape: */

background: #FF9E00;

/* Shape: */

background: #000000;

/* Shape: */

background: #000000;

/* Shape: */

opacity: 0;

/* Rectangle 8: */

background: #353535;
border: 1px solid #979797;
border-radius: 28px;

/* 提 交: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;

/* 写下你的疑惑...: */

font-family: PingFangSC-Light;
font-size: 15px;
color: rgba(53, 53, 53, 0.57);
letter-spacing: 0;
text-align: center;

/* Fill-1: */

background: #9B9B9B;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #438E07;

/* Combined Shape: */

background: #438E07;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 提交键: */

opacity: 0;

/* lovely: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Line: */

border: 1px solid #888888;

/* Rectangle 3: */

background: #353535;
border: 1px solid #979797;
border-radius: 100px;

/* 返 回: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;

/* 提交成功: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* 我们会尽快处理您的问题。 如还有需要可以: */

font-family: PingFangSC-Light;
font-size: 14px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* Shape: */

background: #FFCE00;

/* Shape: */

background: #FFB100;

/* Shape: */

background: #FFE454;

/* Shape: */

background: #000000;

/* Oval: */

background: #000000;

/* Shape: */

background: #E36600;

/* Shape: */

background: #000000;

/* Shape: */

background: #000000;

/* Fill-1: */

background: #9B9B9B;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #438E07;

/* Combined Shape: */

background: #438E07;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 笑脸: */

opacity: 0;

/* 返回键: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* line  copy: */

background: #E5E5E5;

/* 联系我们: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #353535;
text-align: center;

/* Chevron: */

background: #C7C7CC;

/* line  copy: */

background: #E5E5E5;

/* 创建社团: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #353535;
text-align: center;

/* Chevron: */

background: #C7C7CC;

/* line: */

background: #E5E5E5;

/* Chevron: */

background: #C7C7CC;

/* 活动规则: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #353535;
text-align: center;

/* line  : */

background: #E5E5E5;

/* 生成邀请码: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #353535;
text-align: center;

/* Chevron: */

background: #C7C7CC;

/* 我的最近动态: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #353535;
text-align: center;

/* Chevron Copy: */

background: #C7C7CC;

/* line : */

background: #E5E5E5;

/* Line: */

border: 1px solid #ECECEC;

/* 分隔区域: */

border: 12px solid #ECECEC;

/* Line: */

border: 1px solid #E3E1E1;

/* 袋数: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 0: */

font-family: PingFangSC-Semibold;
font-size: 24px;
color: rgba(65, 117, 5, 0.61);
text-align: center;

/* 积分: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 0: */

font-family: PingFangSC-Semibold;
font-size: 24px;
color: rgba(245, 166, 35, 0.62);
text-align: center;

/* 王XX 北京大学山鹰社: */

border: 1px solid #979797;
font-family: PingFangSC-Semibold;
font-size: 24px;
color: #656D76;
text-align: center;

/* 社标（改）（完美一些的社标）: */


/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 我的: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* Fill-1: */

background: #666666;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #438E07;

/* Combined Shape: */

background: #438E07;

/* 个人: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Rectangle 3: */

background: #D5D9DF;
border: 1px solid rgba(151, 151, 151, 0.37);

/* Line: */

border: 1px solid #979797;

/* 取消: */

font-family: PingFangSC-Regular;
font-size: 14px;
color: rgba(0, 0, 0, 0.64);

/* 写个心情…: */

font-family: PingFangSC-Medium;
font-size: 14px;
color: rgba(169, 166, 166, 0.71);

/* tags: */

background: rgba(53, 53, 53, 0.75);

/* pinpoint 2: */

background: rgba(53, 53, 53, 0.75);

/* camera: */

background: rgba(53, 53, 53, 0.75);
border-radius: 2px;

/* Rectangle 4: */

background: rgba(39, 38, 38, 0.93);
border: 1px solid #979797;
border-radius: 8px;

/* Shape: */

background: #FBF1F1;

/* Shape: */

background: rgba(216, 215, 215, 0.99);

/* Background: */

background: #D5D9DF;

/* key: */

background: #B5BDC9;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* 123: */

font-family: HelveticaNeue-Light;
font-size: 15px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #B5BDC9;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* Oval 1: */

border: 3px solid #000000;

/* Oval 2: */

border: 3px solid #000000;

/* Line: */

border: 3px solid #000000;

/* Line: */

border: 3px solid #000000;

/* Oval 4: */

border: 3px solid #000000;

/* Oval 5: */

border: 3px solid #000000;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* Rectangle 35: */

border: 3px solid #000000;
border-radius: 12px;

/* Rectangle 36: */

border: 3px solid #000000;
border-radius: 0 12px 12px 0;

/* Line: */

border: 3px solid #000000;

/* Line: */

border: 3px solid #000000;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* space: */

font-family: HelveticaNeue-Light;
font-size: 25px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #B5BDC9;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* return: */

font-family: HelveticaNeue-Light;
font-size: 25px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* Q: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* W: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* E: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* R: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* T: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* Y: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* U: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* I: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* O: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* P: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #B5BDC9;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* arrow: */

background: #FFFFFF;
border-radius: 6px;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* Z: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* X: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* C: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* V: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* B: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* N: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* M: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #B5BDC9;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* Rectangle 37: */

background: #FFFFFF;
border-radius: 12px 0 12px 12px 12px;

/* Line: */

border: 3px solid #B5BDC9;

/* Line 2: */

border: 3px solid #B5BDC9;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* A: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* S: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* D: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* F: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* G: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* H: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* J: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* K: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* key: */

background: #FFFFFF;
box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.30);
border-radius: 12px;

/* L: */

font-family: HelveticaNeue-Light;
font-size: 27px;
color: #000000;
letter-spacing: 0;
text-align: center;

/* 小圈: */

background: rgba(224, 222, 222, 0.12);
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.00);

/* Shape: */

background: rgba(0, 0, 0, 0.89);

/* Group: */

opacity: 0;

/* Group: */

opacity: 0;

/* pinpoint 2: */

opacity: 0;

/* camera: */

opacity: 0;

/* tags: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Rectangle: */

background: #D8D8D8;
border: 1px solid #979797;

/* 照 片: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: rgba(53, 53, 53, 0.91);

/* 小圈: */

background: rgba(224, 222, 222, 0.48);
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.00);

/* Shape: */

background: rgba(0, 0, 0, 0.89);

/* 小圈: */

background: rgba(224, 222, 222, 0.50);
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.00);

/* Shape: */

background: rgba(0, 0, 0, 0.88);

/* Group: */

opacity: 0;

/* Group 2: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* Rectangle: */

background: #D8D8D8;
border: 1px solid #979797;

/* 大圈: */

background: #D7D4D4;

/* 小圈: */

background: #FFFFFF;

/* 图库: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #888888;

/* 照片: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: rgba(53, 53, 53, 0.95);

/* Line: */

border: 1px solid #979797;

/* Shape: */

opacity: 0.99;
transform: rotate(127deg);
background: #FFFFFF;
box-shadow: 0 2px 4px 0 #030202;

/* Back: */

opacity: 0.95;
background: #353535;

/* Group: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* 2361520156397_.pic_hd: */


/* Rectangle 6: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 北大山鹰社: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 取鹰之志于高远，存鹰之心而凌云，习鹰之性: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #4A4A4A;

/* Rectangle 3: */

opacity: 0.81;
background: #417505;
border: 1px solid #438E07;
border-radius: 100px;

/* 加入成功: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #FFFFFF;

/* 我要加入: */

opacity: 0;

/* 社团B: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 社团A: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 取鹰之志于高远，存鹰之心而凌云，习鹰之性: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #4A4A4A;

/* Rectangle 3: */

opacity: 0.81;
background: #353535;
border: 1px solid #979797;
border-radius: 100px;

/* 我要加入: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #FFFFFF;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* Rectangle 3: */

background: rgba(246, 241, 241, 0.57);
border: 1px solid #FAF7F7;

/* 排行榜: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社员动态: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* Line 3: */

border: 3px solid #438E07;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* 2361520156397_.pic_hd: */


/* Rectangle 6: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 社团B: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 社团A: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 取鹰之志于高远，存鹰之心而凌云，习鹰之性: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #4A4A4A;

/* Rectangle 3: */

opacity: 0.81;
background: #353535;
border: 1px solid #979797;
border-radius: 100px;

/* 我要加入: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #FFFFFF;

/* 北大山鹰社: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 取鹰之志于高远，存鹰之心而凌云，习鹰之性: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #4A4A4A;

/* Rectangle 3: */

opacity: 0.81;
background: #353535;
border: 1px solid #979797;
border-radius: 100px;

/* 我要加入: */

font-family: PingFangSC-Regular;
font-size: 12px;
color: #FFFFFF;

/* 我要加入: */

opacity: 0;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* Rectangle 3: */

background: rgba(246, 241, 241, 0.57);
border: 1px solid #FAF7F7;

/* 排行榜: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社员动态: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* Line 3: */

border: 3px solid #438E07;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 北大学号: */

font-family: PingFangSC-Light;
font-size: 15px;
color: #666666;
text-align: center;

/* 邮 箱验证码: */

font-family: PingFangSC-Light;
font-size: 15px;
color: #666666;
text-align: center;

/* line 2: */

background: #666666;

/* Line 1: */

background: #666666;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 认证: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Rectangle 3: */

background: #438E07;
border: 1px solid #438E07;
border-radius: 95px;

/* 认 证 成 功: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #FFFFFF;
text-align: center;

/* Rectangle 5: */

background: #438E07;
border: 1px solid #438E07;
border-radius: 3px;

/* 已发送邮箱: */

font-family: PingFangSC-Medium;
font-size: 12px;
color: #F3F0F4;
text-align: center;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* Fill-1: */

opacity: 0;

/* 15000XXXXX: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #4A4A4A;
text-align: center;

/* 15000XXXXX: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #4A4A4A;
text-align: center;

/* 认证: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* 北大学号: */

font-family: PingFangSC-Light;
font-size: 15px;
color: #666666;
text-align: center;

/* 邮 箱验证码: */

font-family: PingFangSC-Light;
font-size: 15px;
color: #666666;
text-align: center;

/* line 2: */

background: #666666;

/* Line 1: */

background: #666666;

/* 15000XXXXX: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #4A4A4A;
text-align: center;

/* 15000XXXXX: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #4A4A4A;
text-align: center;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 认证: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Rectangle 3: */

background: rgba(78, 77, 78, 0.95);
border: 1px solid #9B9B9B;
border-radius: 95px;

/* 认 证: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #FFFFFF;
text-align: center;

/* Rectangle 5: */

background: #438E07;
border: 1px solid #438E07;
border-radius: 3px;

/* 已发送邮箱: */

font-family: PingFangSC-Medium;
font-size: 12px;
color: #F3F0F4;
text-align: center;

/* 获取验证码: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* 北大学号: */

font-family: PingFangSC-Light;
font-size: 15px;
color: #666666;
text-align: center;

/* 邮 箱验证码: */

font-family: PingFangSC-Light;
font-size: 15px;
color: #666666;
text-align: center;

/* line 2: */

background: #666666;

/* Line 1: */

background: #666666;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 认证: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* 15000XXXXX: */

font-family: PingFangSC-Medium;
font-size: 17px;
color: #4A4A4A;
text-align: center;

/* Rectangle 3: */

background: rgba(78, 77, 78, 0.95);
border: 1px solid #9B9B9B;
border-radius: 95px;

/* 认 证: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #FFFFFF;
text-align: center;

/* Rectangle 5: */

background: rgba(86, 85, 87, 0.60);
border: 1px solid #979797;
border-radius: 3px;

/* 获取验证码: */

font-family: PingFangSC-Medium;
font-size: 12px;
color: #F3F0F4;
text-align: center;

/* 获取验证码: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;

/* 如果您所在的社团想要开放购买功能，请联系: */

font-family: PingFangSC-Semibold;
font-size: 11px;
color: rgba(136, 136, 136, 0.59);
letter-spacing: 0;
text-align: center;

/* Rectangle 5: */

background: #565557;
border-radius: 100px;

/* 认 证: */

font-family: PingFangSC-Semibold;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;

/* 目前只有经过认证的北大山鹰社社员才可进入: */

font-family: PingFangSC-Semibold;
font-size: 12.5px;
color: #888888;
letter-spacing: 0;
text-align: center;

/* lion: */

background: #565557;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
letter-spacing: 0;
text-align: center;

/* Back: */

opacity: 0.95;
background: #353535;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* Rectangle 3: */

background: rgba(246, 241, 241, 0.57);
border: 1px solid #FAF7F7;

/* 排行榜: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社员动态: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* Line 3: */

border: 3px solid #438E07;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* lion: */

opacity: 0;

/* 认证键: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 排行榜: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 分隔: */

border: 8px solid #ECECEC;

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* 1: */

font-family: PingFangSC-Medium;
font-size: 35px;
color: #90C9B8;
text-align: center;

/* 10: */

font-family: PingFangSC-Medium;
font-size: 35px;
color: #90C9B8;
text-align: center;

/* 袋: */

font-family: PingFangSC-Thin;
font-size: 16px;
color: #353535;
text-align: center;

/* st: */

font-family: PingFangSC-Thin;
font-size: 16px;
color: #90C9B8;
text-align: center;

/* 梁菌菌: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* 9: */

font-family: PingFangSC-Medium;
font-size: 35px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #ECECEC;

/* 2: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* XXX: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* 袋: */

font-family: PingFangSC-Thin;
font-size: 16px;
color: #353535;
text-align: center;

/* 8: */

font-family: PingFangSC-Medium;
font-size: 35px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #ECECEC;

/* 3: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* XXX: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* 袋: */

font-family: PingFangSC-Thin;
font-size: 16px;
color: #353535;
text-align: center;

/* 7: */

font-family: PingFangSC-Medium;
font-size: 35px;
color: #353535;
text-align: center;

/* Line: */

border: 1px solid #ECECEC;

/* 3: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* XXX: */

font-family: PingFangSC-Medium;
font-size: 16px;
color: #353535;
text-align: center;

/* 袋: */

font-family: PingFangSC-Thin;
font-size: 16px;
color: #353535;
text-align: center;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* Combined Shape: */

opacity: 0;

/* 个人: */

opacity: 0;

/* Rectangle 3: */

background: rgba(246, 241, 241, 0.57);
border: 1px solid #FAF7F7;

/* 排行榜: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* 社员动态: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* Line 3: */

border: 3px solid #438E07;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* Rectangle 9: */

background: #FFFFFF;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 社员动态: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* 1: */

font-family: PingFangSC-Medium;
font-size: 14px;
color: #9B9B9B;
text-align: center;

/* Line: */

border: 1px solid rgba(155, 155, 155, 0.31);

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* Rectangle 4: */

background: #D8D8D8;
border: 1px solid rgba(156, 109, 172, 0.00);

/* 今天 18:00: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 1 袋: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #353535;
text-align: center;

/* 阳台山: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* XXXXX: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 文字描述xxxxxxxxxxxxx: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 喜欢2: */

background: #D0021B;

/* Line: */

border: 1px solid rgba(155, 155, 155, 0.31);

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* Rectangle 4: */

background: #D8D8D8;
border: 1px solid rgba(156, 109, 172, 0.00);

/* 喜欢: */

background: #4A4A4A;

/* 今天 18:00: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 1 袋: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #353535;
text-align: center;

/* 阳台山: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* XXXXX: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 文字描述xxxxxxxxxxxxx: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* Rectangle 4: */

background: #D8D8D8;
border: 1px solid rgba(156, 109, 172, 0.00);

/* 喜欢: */

background: #4A4A4A;

/* 今天 18:00: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 1 袋: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #353535;
text-align: center;

/* 阳台山: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* XXXXX: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* Rectangle 3: */

background: rgba(246, 241, 241, 0.57);
border: 1px solid #FAF7F7;

/* 排行榜: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社员动态: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* Line 3: */

border: 3px solid #438E07;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 喜欢2: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 社员动态: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 社团: */

font-family: PingFangSC-Semibold;
font-size: 14px;
color: #9DA2A8;
text-align: center;

/* 打卡: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* 我的: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9DA2A8;
text-align: center;

/* Line 2: */

border: 0 solid #979797;

/* Line: */

border: 1px solid rgba(155, 155, 155, 0.31);

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* Rectangle 4: */

background: #D8D8D8;
border: 1px solid rgba(156, 109, 172, 0.00);

/* 喜欢: */

background: #4A4A4A;

/* 今天 18:00: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 1 袋: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #353535;
text-align: center;

/* 阳台山: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* XXXXX: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 文字描述xxxxxxxxxxxxx: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* Line: */

border: 1px solid rgba(155, 155, 155, 0.31);

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* Rectangle 4: */

background: #D8D8D8;
border: 1px solid rgba(156, 109, 172, 0.00);

/* 喜欢: */

background: #4A4A4A;

/* 今天 18:00: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 1 袋: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #353535;
text-align: center;

/* 阳台山: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* XXXXX: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 文字描述xxxxxxxxxxxxx: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* Oval1: */

background: #D8D8D8;
border: 1px solid #ECECEC;

/* Rectangle 4: */

background: #D8D8D8;
border: 1px solid rgba(156, 109, 172, 0.00);

/* 喜欢: */

background: #4A4A4A;

/* 今天 18:00: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* 1 袋: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #353535;
text-align: center;

/* 阳台山: */

font-family: PingFangSC-Light;
font-size: 12px;
color: #9B9B9B;
text-align: center;

/* XXXXX: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 喜欢: */

opacity: 0;

/* Fill-1: */

background: #438E07;

/* Combined Shape: */

background: #333333;

/* Oval 3: */

background: #333333;

/* Combined Shape: */

background: #333333;

/* Rectangle 3: */

background: rgba(246, 241, 241, 0.57);
border: 1px solid #FAF7F7;

/* 排行榜: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社员动态: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #438E07;
text-align: center;

/* Line 3: */

border: 3px solid #438E07;

/* 加入社团: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 社团商城: */

font-family: PingFangSC-Semibold;
font-size: 16px;
color: #9B9B9B;
text-align: center;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* Shape: */

background: #666666;

/* 昵 称: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #666666;
text-align: center;

/* 邀请码: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #666666;
text-align: center;

/* 邮 箱: */

font-family: PingFangSC-Light;
font-size: 17px;
color: #666666;
text-align: center;

/* line 2: */

background: #666666;

/* Line 1: */

background: #666666;

/* Line 1 Copy: */

background: #666666;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 注册: */

font-family: PingFangSC-Semibold;
font-size: 18px;
color: #353535;
text-align: center;

/* Rectangle 3: */

background: rgba(78, 77, 78, 0.95);
border: 1px solid #9B9B9B;
border-radius: 95px;

/* 注 册: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #FFFFFF;
text-align: center;

/* icon copy: */

opacity: 0;

/* 注册: */

opacity: 0;

/* 屏幕快照 2018-02-28 下午11.57.07: */


/* Rectangle: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 2: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* Rectangle 3: */

background: #565557;
border: 1px solid #9B9B9B;
border-radius: 95px;

/* 我 要 加 入: */

font-family: PingFangSC-Semibold;
font-size: 17px;
color: #FFFFFF;
text-align: center;

/* 环保图片: */


/* 白板: */

background: #FFFFFF;
border: 1px solid #FFFFFF;

/* 顺 手 一 袋: */

font-family: PingFangSC-Medium;
font-size: 20px;
color: #565557;
text-align: center;

/* ”: */

font-family: PingFangSC-Medium;
font-size: 20px;
color: #565557;
text-align: center;

/* “: */

font-family: PingFangSC-Medium;
font-size: 20px;
color: #565557;
text-align: center;

/* Line: */

border: 1px solid #979797;

/* 垃圾顺手一袋， 美丽山河回来。: */

font-family: PingFangSC-Light;
font-size: 16px;
color: #565557;
text-align: center;

/* 加入活动: */

font-family: PingFangSC-Medium;
font-size: 18px;
color: #353535;
text-align: center;

/* 注册: */

opacity: 0;